.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange {
  background-color: #fa9c10;

  svg {
    color: black;
  }
}

.blue {
  background-color: #2269ec;

  svg {
    color: white;
  }
}

.red {
  background-color: #e64e33;

  svg {
    color: white;
  }
}

.yellow {
  background-color: #fbff01;

  svg {
    color: black;
  }
}

.green {
  background-color: #27cf35;

  svg {
    color: black;
  }
}

.purple {
  background-color: #6041eb;

  svg {
    color: white;
  }
}

.none {
  background-color: black;

  svg {
    color: white;
  }
}
